h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 132, 255);
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(114, 34, 34);

    height: 96px;
    padding: 0px;
    margin: 0px;
}

p {
    text-align: center;
    font-size: 24px;
    color: rgb(56, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
}